* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
  background-color: 0x101935;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: 0x101935;


}

.canvas {
  /* border: 1px black solid; */
  height: 100vh;
  width: 25%;
  background-color: 0x101935;
  z-index: 2000;

}

#intro-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: 0x101935;
  z-index: 6000;

}

#outro-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: 0x101935;
  z-index: 9999;
  display: none
}